<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "CraftingStation" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="topbar">
      <div class="logo">
        <h3><a id="name" href="http://alchemyapi.com"><%= image_tag(asset_path("logo.png"), size: "80x80")%>AlchemyAPI</a></h3>
      </div>
    </div>


    <div class=overlay>

      <%= yield %>

    </div>

  </body>
</html>
